{# 부모에 data-menu-list-root data-menu-storage-key="..." 필요 #}
<div class="btn-group btn-group-sm menu-list-view-btns flex-shrink-0" role="group" aria-label="목록 표시 형식">
  <button type="button" class="btn btn-outline-secondary" data-view="tile" title="타일 보기">
    <i class="fa-solid fa-grip d-none d-sm-inline" aria-hidden="true"></i><span class="ms-sm-1">타일</span>
  </button>
  <button type="button" class="btn btn-outline-secondary" data-view="list" title="목록 보기">
    <i class="fa-solid fa-list d-none d-sm-inline" aria-hidden="true"></i><span class="ms-sm-1">목록</span>
  </button>
</div>
